{
  "rules": {
    "max-len": ["error", 140],
    "react/jsx-wrap-multilines": "off",
    "react/default-props-match-prop-types": "off",
    "no-param-reassign": "off",
    "consistent-return": "warn",
    "react/jsx-filename-extension": "off",
    "import/no-unresolved": "off",
    "indent": ["error",4]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
